@page "/admin"
@using Client.Components.Admin.Shared

<main class="admin-area-main">
    <Sidebar />

    <div class="container bg-white">
        <h3 class="h2 mt-4 text-center">Welcome to the Admin Page</h3>

        <a href="/">
            <p class="text-left mt-2 h4">Total Categories: </p>
        </a>
        <a href="">
            <p class="text-left mt-2 h4">Total Posts: </p>
        </a>
    </div>

</main>

@code 
{

}
