<div class="col-lg-3 mb-5 mb-lg-0">
    <div class="section-heading mb-5 d-flex align-items-center">
        <h2>@Category.Name</h2>
        <div class="ml-auto">
            <a class="btn btn-outline-dark btn-sm rounded" href="#">View all</a>
        </div>
    </div>
    <div class="entry2 mb-5">
        <a href="single.html">
            <img src="@($"{APIEndpoints.ServerBaseUrl}/{Category.BlogImage}")" alt="Image" class="img-fluid rounded">
        </a>
    </div>
</div>

@code
{
    [Parameter] public Category Category { get; set; }
}